@import 'tailwindcss';

.bg-header {
  background-image: url('/public/bg.jpg');
  background-position: center;
  background-size: cover;
}

@theme {
  --animate-blink: 'blink 1s ease-in-out infinite';

  @keyframes blink {
    0%, 
    100% { 
      opacity: 1; 
    }
    50% { 
    opacity: 0.5; 
    }
  }
}
